@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,300&display=swap');
*{
    background-color: #EADBC2;
}
.topImage{
    width: 100%;
}
.topImage img{
    width: 170px;
    height: 150px;
    border-radius: 50%;
    margin-left: 88%;
}
.text p{
    width: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
}
.text h1{
    width: auto;
    text-align: center;
    font-family: 'Tourney', cursive;
    font-weight: bolder;
    font-size: 90px;
}
.firstSocials{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: fit-content;
}

.latestEpisodes{
    text-align: center;
}
.contentSec{
    columns: 2;
}
.secondSocials{
 height: 300px;
}