.allP{
    background-color: #EADBC2;
    width: auto;    
}
.main{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.begin{
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
}
.begin img{
    width: 100px;
    height: 100px;
}
.begin p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.options{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 80px;
    font-size: larger;
    font-weight: bolder;
    
}
.options:hover{
    color: #028181;
    font-weight: 900;
}
.searchButton{
    justify-content: end;
    margin-right: 20px;
    background-color: #EADBC2;
    
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 12px 0;
}
.sub-menu-link Link{
    width: 100%;
}
.sub-menu-link:hover Link{
    font-weight: 600;
}